@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";
@import '@creation-ui/react/index.css';
@import '@creation-ui/react/theme.css';

@source "../node_modules/@creation-ui/react/dist";

@theme {
  --font-sans: 'Manrope', 'sans-serif';
  --font-mono: 'Fira Code', 'monospace';
}

@variant dark (&:where(.dark, .dark *));

:root {
  /* editor */
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;

  @variant dark {
    /* editor */
    --sh-class: #4c97f8;
    --sh-identifier: var(--color-primary);
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}

html {
  @apply scroll-smooth min-w-[310px];
}

body {
  @apply font-sans antialiased text-text-primary border-border;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}


.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover>.anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose> :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  text-wrap: nowrap;
  border-collapse: collapse;
  @apply text-sm rounded-md overflow-clip shadow;
}

td,
th {
  text-wrap: balance;
  @apply px-2 py-1 border border-border;

}


th {
  @apply bg-background-secondary;
}


.title {
  text-wrap: balance;
}

.link {
  @apply text-primary underline;

  &:hover {
    @apply text-primary/80;
  }

  &:visited {
    @apply text-warning;
  }
}

.link-descrete {
  &:hover {
    @apply text-primary;
  }
}

@media print {
  body * {
    visibility: hidden !important;
  }

  #printable,
  #printable * {
    visibility: visible !important;
  }

  #printable {
    position: absolute;
    top: 0;
    left: 0;
  }

  .page-break {
    page-break-before: always;
    break-before: page;
  }
}


.loader {
  width: 2px;
  height: 12px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: 0 0 rgba(255, 255, 255, 0), 5px 0 rgba(255, 255, 255, 0), 10px 0 rgba(255, 255, 255, 0), 15px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }

  20% {
    box-shadow: 0 0 var(--color-primary), 5px 0 rgba(255, 255, 255, 0), 10px 0 rgba(255, 255, 255, 0), 15px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }

  40% {
    box-shadow: 0 0 var(--color-primary), 5px 0 var(--color-primary), 10px 0 rgba(255, 255, 255, 0), 15px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }

  60% {
    box-shadow: 0 0 var(--color-primary), 5px 0 var(--color-primary), 10px 0 var(--color-primary), 15px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }

  80% {
    box-shadow: 0 0 var(--color-primary), 5px 0 var(--color-primary), 10px 0 var(--color-primary), 15px 0 var(--color-primary), 20px 0 rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 var(--color-primary), 5px 0 var(--color-primary), 10px 0 var(--color-primary), 15px 0 var(--color-primary), 20px 0 var(--color-primary);
  }
}